@font-face {
    font-family: 'Monobloc Mono _Regular';
    src:    url('Monobloc_Mono_-Regular.woff') format('woff'),
            url('Monobloc_Mono_-Regular.woff2') format('woff2'),
            url('Monobloc_Mono_-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monobloc_Light';
    src:    url('Monobloc-Light.woff') format('woff'),
            url('Monobloc-Light.woff2') format('woff2'),
            url('Monobloc-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monobloc_Regular';
    src:    url('Monobloc-Regular.woff') format('woff'),
            url('Monobloc-Regular.woff2') format('woff2'),
            url('Monobloc-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monobloc_Bold';
    src:    url('Monobloc-Bold.woff') format('woff'),
            url('Monobloc-Bold.woff2') format('woff2'),
            url('Monobloc-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
