

@font-face {
    font-family: 'Monobloc';
    src: url('fonts/Monobloc-Regular.woff') format(woff);
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Monobloc";
    src: url("fonts/Monobloc-Bold.woff") format(woff),
         url("fonts/Monobloc-Bold.woff2") format(woff2),
         url("fonts/Monobloc-Bold.otf") format(otf);
         font-weight: bold;
         font-style: normal;
}


@font-face {
    font-family: 'monobloc_mono__regularregular';
    src: url('fonts/monobloc-mono-regular-webfont.woff2') format('woff2'),
         url('fonts/monobloc-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'monobloc-mono';
    font-weight: normal;
    font-style: monospace;
    font-size: 100px;
}


h2 {

    font-family: 'Monobloc';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;}

